/* VARIABLES */
/* LISTAS*/
/*EXTEND*/
/*imagen*/
body main .venta-section .div-venta, body main .venta-section .div-venta div div img {
  width: 500px;
  height: 350px; }

/*___________________________________*/
/*display-flex*/
main .hero2 p {
  display: flex;
  justify-content: center; }

main .descuento {
  display: flex;
  justify-content: space-around; }

/*background*/
main .hero, body .main-contacto {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed; }

/*MIXIN*/
/*___________________________________*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

.comprar {
  background-color: cadetblue;
  color: aliceblue;
  border-radius: 25%;
  padding: 2px; }

main {
  background-color: burlywood; }
  main .whatsapp {
    position: fixed;
    bottom: 100px;
    right: 50px; }
    main .whatsapp a {
      text-decoration: none;
      list-style: none; }
      main .whatsapp a img {
        width: 50px; }

body header .bg-header-nav {
  background-color: #00000077; }
  body header .bg-header-nav div div ul li a {
    transition-duration: 0.4s !important; }
  body header .bg-header-nav div div ul li a:hover {
    color: rgba(194, 110, 0, 0.767); }
  body header .bg-header-nav div div a h1 {
    display: inline;
    font-family: sans-serif;
    font-size: 5rem; }

main .hero {
  font-size: 2vh;
  height: 90vh;
  background-image: url(../img/Hero.jpeg);
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .hero a {
    position: sticky;
    top: 1px;
    text-decoration: none; }

main .hero2 {
  height: 300px;
  font-size: 20px; }
  main .hero2 h2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  main .hero2 p {
    color: red;
    padding-top: 120px;
    font-size: larger;
    border-bottom: 4px double red; }

main .descuento {
  height: 700px;
  flex-wrap: wrap; }
  main .descuento .borde {
    border: 2px solid grey;
    height: 624px;
    text-align: center;
    border-radius: 15px; }
    main .descuento .borde a {
      text-decoration: none; }
      main .descuento .borde a .comprar {
        background-color: cadetblue;
        color: aliceblue;
        border-radius: 25%;
        padding: 2px; }

body .main-contacto {
  font-size: 25px;
  background-image: url(../img/Hero.jpeg);
  height: 100vh; }
  body .main-contacto h2 {
    color: rgba(0, 0, 0, 0.678); }
  body .main-contacto form .div-form {
    margin: 15px;
    padding-bottom: 20px; }
    body .main-contacto form .div-form .div-form-div {
      margin: 10px !important; }
      body .main-contacto form .div-form .div-form-div .form-control {
        width: 15%; }
  body .main-contacto form div label {
    color: rgba(0, 0, 0, 0.678); }
  body .main-contacto form div textarea {
    font-size: 14px; }
  body .main-contacto form div .enviar {
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.685);
    color: aliceblue; }

body span {
  color: red; }
  body span a {
    color: white;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 25%;
    text-decoration: none; }

body main {
  height: 1800px; }
  body main .main-venta h2 {
    font-size: 20px; }
  body main .main-venta p {
    font-size: 15px; }
  body main .venta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 300px;
    text-align: center; }
    body main .venta-section .div-venta h2 {
      font-size: 20px; }
    body main .venta-section .div-venta p {
      font-size: 12px; }
    body main .venta-section .div-venta a {
      text-decoration: none; }

body main .main-venta {
  text-align: center; }
  body main .main-venta h2 {
    font-size: 20px; }
  body main .main-venta a {
    text-decoration: none;
    font-size: 20px; }

body .grid-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  text-align: center;
  font-size: 35px;
  padding: 5px;
  background-color: burlywood; }
  body .grid-nosotros .grid-div {
    margin: 15px;
    padding: 10px; }
  body .grid-nosotros .div-1 {
    height: 300px;
    grid-column: 1/3;
    background-image: url(https://i.ibb.co/fxxktDQ/GRID-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1%; }
  body .grid-nosotros .div-2 {
    height: 460px;
    font-size: 20px; }
  body .grid-nosotros .div-3 {
    font-size: 20px; }
  body .grid-nosotros .div-4 {
    height: 300px;
    grid-column: 2/4;
    background-image: url(https://i.ibb.co/M2X14sd/GRID-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin: 8px;
    border-radius: 1%;
    box-shadow: -11px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -11px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -11px 10px 10px 0px rgba(0, 0, 0, 0.75); }
  body .grid-nosotros .div-5 {
    grid-column: 1/4;
    height: 450px;
    padding: 0;
    margin-top: 52px;
    font-size: 25px;
    text-shadow: 2px; }
  body .grid-nosotros .div-5 button {
    color: black;
    background-color: red; }
    body .grid-nosotros .div-5 button a {
      text-decoration: none;
      color: aqua; }

body footer {
  background-color: #707374; }
  body footer .avatar {
    width: 100px;
    border-radius: 70%; }
  body footer .redes-footer {
    display: flex;
    justify-content: end; }
    body footer .redes-footer a {
      width: 40px;
      height: 40px; }
      body footer .redes-footer a img {
        width: 40px;
        display: flex; }
  body footer div p {
    display: inline-block; }

@media screen and (max-width: 767px) {
  main .whatsapp {
    bottom: 100px;
    right: 25px; }
    main .whatsapp a img {
      width: 35px; } }

@media screen and (max-width: 768px) {
  main .hero {
    font-size: 2vh;
    height: 50vh; }
    main .hero h2 {
      font-size: 24px; }
    main .hero p {
      font-size: 20px; }
    main .hero a {
      font-size: 19px; }
  main .hero2 h2 {
    font-size: 24px; }
  main .hero2 p {
    font-size: 18px; }
  main .descuento {
    height: 1300px; }
    main .descuento div {
      width: 293px; }
  main .whatsapp a img {
    width: 55px; } }

@media screen and (max-width: 425px) {
  main .hero {
    font-size: 1vh;
    height: 42vh; }
    main .hero h2 {
      font-size: 20px; }
    main .hero p {
      font-size: 16px; }
    main .hero a {
      font-size: 15px; }
  main .hero2 {
    height: 150px; }
    main .hero2 h2 {
      font-size: 20px; }
    main .hero2 p {
      font-size: 14px;
      padding-top: 0px; }
  main .descuento {
    height: 2000px; }
    main .descuento div h3 {
      font-size: 15px; }
  main .whatsapp a img {
    width: 35px; } }

@media screen and (max-width: px) {
  main .hero {
    font-size: 2vh;
    height: 50vh;
    background-image: url(../img/Hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed; }
  main .descuento {
    height: 1200px; }
    main .descuento div {
      border: 1px solid grey;
      text-align: center;
      height: 350px;
      border-end-end-radius: 7px;
      border-end-start-radius: 7px; }
      main .descuento div img {
        height: 250px; } }

@media screen and (max-width: 768px) {
  .main-contacto form .div-form .div-form-div .form-control {
    font-size: small;
    width: 12%; }
  .main-contacto form div label {
    font-size: 18px; }
  .main-contacto form .enviar-div .enviar {
    font-size: medium; }
  .main-contacto span {
    font-size: 21px; } }

@media screen and (max-width: 425px) {
  .main-contacto h2 {
    font-size: 15px; }
  .main-contacto form .div-form .div-form-div .form-control {
    font-size: 11px;
    width: 18%; }
  .main-contacto form .div-form div label {
    font-size: 14px; }
  .main-contacto form .div-form .enviar-div .enviar {
    font-size: small; }
  .main-contacto span {
    font-size: 12px; } }

@media screen and (max-width: 520px) {
  body main {
    height: 1400px; }
    body main .main-venta h2 {
      font-size: 13px; }
    body main .main-venta p {
      font-size: 10px; }
    body main .main-venta a {
      font-size: 13px; }
    body main .venta-section .div-venta {
      width: 300px;
      height: 300px; }
      body main .venta-section .div-venta div div img {
        width: 300px;
        height: 300px; }
      body main .venta-section .div-venta h2 {
        font-size: 20px; }
      body main .venta-section .div-venta p {
        font-size: 12px; }
      body main .venta-section .div-venta a {
        text-decoration: none; } }

@media screen and (max-width: 858px) {
  body footer .avatar {
    width: 75px;
    border-radius: 70%; }
  body footer .redes-footer a {
    width: 30px;
    height: 30px; }
    body footer .redes-footer a img {
      width: 30px; }
  body footer .redes-footer .mapa {
    width: 170px;
    height: 120px; }
  body footer div p {
    font-size: 12px; } }

@media screen and (max-width: 768px) {
  body .grid-nosotros .grid-div {
    margin: 25px;
    padding: 18px; }
  body .grid-nosotros .div-2 {
    height: 580px;
    font-size: 15px; }
    body .grid-nosotros .div-2 h2 {
      font-size: 25px; }
  body .grid-nosotros .div-3 {
    height: 370px;
    font-size: 15px; }
    body .grid-nosotros .div-3 h2 {
      font-size: 25px; }
  body .grid-nosotros .div-5 {
    font-size: 15px;
    height: 350px; } }

@media screen and (max-width: 595px) {
  body .grid-nosotros .div-2 {
    height: 380px;
    font-size: 10px; }
    body .grid-nosotros .div-2 h2 {
      font-size: 15px; }
  body .grid-nosotros .div-3 {
    height: 370px;
    font-size: 10px; }
    body .grid-nosotros .div-3 h2 {
      font-size: 15px; }
  body .grid-nosotros .div-5 {
    font-size: 10px;
    height: 350px; } }

@media screen and (max-width: 425px) {
  body footer .avatar {
    width: 55px;
    border-radius: 70%; }
  body footer .redes-footer a {
    width: 20px;
    height: 20px; }
    body footer .redes-footer a img {
      width: 20px; }
  body footer .redes-footer .mapa {
    width: 100px;
    height: 70px; }
  body footer div p {
    font-size: 10px; } }
