body{
    footer{
        background-color: rgb(112, 115, 116);
        .avatar{
            width: 100px;
            border-radius: 70%;
        }
        .redes-footer{
            display: flex;
            justify-content: end;
            a{
                width: 40px;
                height: 40px;
                img{
                    width: 40px;
                    display: flex;
                }
            }
        }
        div{
            p{
                display: inline-block;
            }
        }
    }
}