body{
    header{
        nav{
            .bg-header-nav{
                background-color: #000000ab;}
        }
        a{
            .navbar-brand{
                font-size: 48px !important;}
            h1{
                display: inline;
                font-family: sans-serif;
                font-size: 5rem;}
        }
    }
}