body{
    header{
        .bg-header-nav{
            background-color: #00000077;
            div{
                div{
                    ul{
                        li{
                            a{
                                transition-duration: 0.4s !important;
                            }
                            a:hover{
                                color: rgba(194, 110, 0, 0.767);
                            }
                    }
                }
                a{
                    h1{
                        display: inline;
                        font-family: sans-serif;
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}
}