//__________INDEX__________//
main{
    .hero{
        font-size: 2vh;
        height: 90vh;
        background-image: url(../img/Hero.jpeg);
        @extend %bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            position: sticky;
            top: 1px;
            text-decoration: none;
        }
    }
    .hero2{
        font-size: nth($f-sz, 2);
        h2{
            @include flex(flex, center, center);
        }
        p{
            @extend %flex-jc;
            color: red;
            padding-top: 120px;
            font-size: larger;
            border-bottom: 4px double red;
        }
    }
    .descuento{
        @extend %flex-jsa;
        height: auto;
        flex-wrap: wrap;
        gap: 15px;
        padding-bottom: 10px;
        .borde{
            border: 2px solid grey;
            width: 293px;
            text-align: center;
            border-radius: nth($f-sz, 1);
            a{
                text-decoration: none;
                .comprar{
                    background-color: $color-bg-comprar;
                    color: $color-comprar;
                    border-radius: 25%;
                    padding: 2px;
                }
            }
        }
    }
}

//__________CONTACTO__________//
body{
    .main-contacto{
        font-size: 25px;
        background-image: url(../img/Hero.jpeg);
        @extend %bg;
        height: 100vh;
        h2{
            color: rgba(0, 0, 0, 0.678);
        }
        form{
            .div-form{
                margin: nth($f-sz, 1);
                padding-bottom: nth($f-sz, 2);
                .div-form-div{
                    margin: 10px !important;
                    .form-control{
                        width: 220px;
                    }
                    }
                }
                div{
                    label{
                        color: rgba(0, 0, 0, 0.678);
                    }
                    textarea{
                        font-size: 14px;
                    }
                    .enviar{
                        border-radius: 20%;
                        background-color: rgba(0, 0, 0, 0.685);
                        color: aliceblue;
                    }
                }
            }
        }
        span{
            color: rgb(255, 0, 0);
            a{
                color: rgb(255, 255, 255);
                background-color: rgba(0, 0, 0, 0.582);
                border-radius: 25%;
                text-decoration: none;
            }
        }
    }
//__________VENTA__________//
body{
    .main-venta-principal{
        .main-venta{
            text-align: center;
            h2{
                font-size: nth($f-sz, 2);
            }
            p{
                font-size: nth($f-sz, 1);
            }
            a{
                text-decoration: none;
            }
        }
        .venta-section{
            @include flex (flex, center, center);
            padding-top: 50px;
            padding-bottom: 300px;
            text-align: center;
            .div-venta{
                @extend %img-p;
                div{
                    div{
                        img{
                            @extend %img-p;
                        }
                    }
                }
                h2{
                    font-size: nth($f-sz, 2);
                }
                p{
                    font-size: 12px;
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
}
//__________ALQUILER__________//
body{
    .main-alquiler{
        height: 1500px;
        .main-venta{
            text-align: center;
            h2{
                font-size: nth($f-sz, 2);
            }
        }
        .venta-section{
            @include flex (flex, center, center);
            padding: 180px;
            text-align: center;
            .div-venta{
                @extend %img-p;
                div{
                    div{
                        img{
                            @extend %img-p;
                        }
                    }
                }
                h2{
                    font-size: nth($f-sz, 2);
                }
                p{
                    font-size: 12px;
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
}
//__________NOSOTROS__________//
body{
    .grid-nosotros{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        text-align: center;
        font-size: 35px;
        padding: 5px;
        background-color: burlywood;
        .grid-div{
            margin: 15px;
            padding: 10px;
        }
        .div-1{
            height: 300px;
            grid-column: 1/3;
            background-image:url(https://i.ibb.co/fxxktDQ/GRID-1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
            border-radius: 1%;
        }
        .div-2{
            height: 460px;
            font-size: 20px;
        }
        .div-3{
            font-size: 20px;
        }
        .div-4{
            height: 300px;
            grid-column: 2/4;
            background-image: url(https://i.ibb.co/M2X14sd/GRID-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            margin: 8px;
            border-radius: 1%;
            box-shadow: -11px 10px 10px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: -11px 10px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: -11px 10px 10px 0px rgba(0,0,0,0.75);
        }
        .div-5{
            grid-column: 1/4;
            height: 450px;
            padding: 0;
            margin-top: 52px;
            font-size: 25px;
            text-shadow: 2px;
        }
        .div-5{
            button{
                color: black;
                background-color: rgb(255, 0, 0);
                a{
                    text-decoration: none;
                    color: aqua;
                }
            }
        }
    }
}