//_________M-Q_PRINCIPAL_________//
@media screen and (max-width:767px){
    main{
        .whatsapp{
            bottom: 100px;
            right: 25px;
            a{
                img{
                    width: 35px;
                }
            }
        }
    }
}
//___________________________________________________________//
//_________INDEX_________//
@media screen and (max-width:875px){
    main{
        .hero{
            font-size: 2vh;
            height: 50vh;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 16px;
            }
            a{
                font-size: 16px;
            }
        }
        .hero2{
            h2{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        .descuento{
            .borde{
                width: 250px;
                div{
                    ul{
                        li{
                            font-size: 13px;
                        }
                    }
                    div{
                        h5{
                            font-size: 9px;
                        }
                        p{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .whatsapp{
            a{
                img{
                    width: 55px;
                }
            }
        }
    }
}
@media screen and (max-width:675px){
    main{
        .hero{
            font-size: 1vh;
            height: 42vh;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 16px;
            }
            a{
                font-size: 15px;
            }
        }
        .hero2{
            height: 150px;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 14px;
                padding-top: 0px;
            }
        }
        .descuento{
            .borde{
                width: 220px;
                div{
                    div{
                        h5{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .whatsapp{
            a{
                img{
                    width: 35px;
                }
            }
        }
    }
}
@media screen and (max-width:520px){
    main{
        .hero{
            font-size: 0.5vh;
            height: 32vh;
            h2{
                font-size: 15px;
            }
            p{
                font-size: 11px;
            }
            a{
                font-size: 11px;
            }
        }
        .hero2{
            height: 140px;
            h2{
                font-size: 15px;
            }
            p{
                font-size: 11px;
                padding-top: 0px;
            }
        }
        .descuento{
            .borde{
                width: 180px;
                div{
                    ul{
                        li{
                            font-size: 10px;
                        }
                    }
                    div{
                        h5{
                            font-size: 7px;
                        }
                        p{
                            font-size: 10px;
                        }
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .whatsapp{
            a{
                img{
                    width: 25px;
                }
            }
        }
    }
}
//___________________________________________________________//
//_________CONTACTO_________//
@media screen and (max-width:768px){
    .main-contacto{
        form{
            .div-form{
                .div-form-div{
                    .form-control{
                        font-size: small;
                        width: 160px !important;
                    }
                    }
                }
                div{
                    label{
                        font-size: 18px;
                    }
                }
                .enviar-div{
                    .enviar{
                        font-size: medium;
                    }
                }
            }
        span{
            font-size: 21px;
        }
        }
    
}
@media screen and (max-width:550px){
    .main-contacto{
        h2{
            font-size: 15px;
        }
        form{
            .div-form{
                .div-form-div{
                        .form-control{
                            font-size: 11px;
                            width: 120px !important;
                        }
                }
                div{
                    label{
                        font-size: 14px;
                    }
                }
                .enviar-div{
                    .enviar{
                        font-size: small;
                    }
                }
            }
        }
        span{
            font-size: 15px;
        }
    }
}
@media screen and (max-width:474px){
    .main-contacto{
        h2{
            font-size: 15px;
        }
        form{
            .div-form{
                .div-form-div{
                        .form-control{
                            font-size: 11px;
                            width: 90px !important;
                        }
                }
                div{
                    label{
                        font-size: 12px;
                    }
                }
                .enviar-div{
                    .enviar{
                        font-size: small;
                    }
                }
            }
        }
        span{
            font-size: 12px;
        }
    }
}
//___________________________________________________________//
//_________VENTA_________//
@media screen and (max-width:520px){
    body{
        .main-venta-principal{
            height: auto;
        .main-venta{
            h2{
                font-size: 13px;
            }
            p{
                font-size: 10px;
            }
            a{
                font-size: 13px;
            }
        }
        .venta-section{
            .div-venta{
                width: 300px;
                height: 300px;
                div{
                    div{
                        img{
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
                h2{
                    font-size: nth($f-sz, 2);
                }
                p{
                    font-size: 12px;
                }
                a{
                    text-decoration: none;
                }
                }
            }
        }
    }
}
@media screen and (max-width:315px){
    body{
        .main-venta-principal{
            height: auto;
        .main-venta{
            h2{
                font-size: 10px;
            }
            p{
                font-size: 7px;
            }
            a{
                font-size: 10px;
            }
        }
        .venta-section{
            .div-venta{
                width: 250px;
                height: 250px;
                div{
                    div{
                        img{
                            width: 250px;
                            height: 250px;
                        }
                    }
                }
                h2{
                    font-size: nth($f-sz, 1);
                }
                p{
                    font-size: 10px;
                }
                a{
                    text-decoration: none;
                }
                }
            }
        }
    }
}
//____________________________________________________//
//_________ALQUILER_________//
@media screen and (max-width:840px){
    body{
        .main-alquiler{
        .venta-section{
            .div-venta{
                h2{
                    font-size:16px;
                }
                p{
                    font-size:10px;
                }
                a{
                    font-size:10px;
                }
            }
        }
    }
}
}
@media screen and (max-width:530px){
    body{
        .main-alquiler{
        .venta-section{
            padding-top: 280px;
            .div-venta{
                width:350px;
                height:250px;
                h2{
                    font-size:16px;
                }
                p{
                    font-size:10px;
                }
                a{
                    font-size:10px;
                }
            }
        }
    }
}
}
@media screen and (max-width:374px){
    body{
        .main-alquiler{
        .venta-section{
            padding-top: 360px;
            .div-venta{
                width:300px;
                height:200px;
                h2{
                    font-size:16px;
                }
                p{
                    font-size:10px;
                }
                a{
                    font-size:10px;
                }
            }
        }
    }
}
}
//____________________________________________________//
//_________NOSOTROS_________//
@media screen and (max-width:768px){
    body{
        .grid-nosotros{
            .grid-div{
                margin: 25px;
                padding: 18px;
            }
            .div-2{
                height: 580px;
                font-size: nth($f-sz, 1);
                h2{
                    font-size: 25px;
                }
            }
            .div-3{
                height: 370px;
                font-size: nth($f-sz, 1);
                h2{
                    font-size: 25px;
                }
            }
            .div-5{
                font-size: nth($f-sz, 1);
                height: 350px;
            }
        }
    }
}
@media screen and (max-width:595px){
    body{
        .grid-nosotros{
            .div-2{
                height: 380px;
                font-size: 10px;
                h2{
                    font-size: nth($f-sz, 1);
                }
            }
            .div-3{
                height: 370px;
                font-size: 10px;
                h2{
                    font-size: nth($f-sz, 1);
                }
            }
            .div-5{
                font-size: 10px;
                height: 350px;
            }
        }
    }
}
//____________________________________________________//
//_________FOOTER_________//
@media screen and (max-width:858px){
    body{
        footer{
            .avatar{
                width: 75px;
                border-radius: 70%;
            }
            .redes-footer{
                a{
                    width: 30px;
                    height: 30px;
                    img{
                        width: 30px;
                    }
                }
            }
            div{
                p{
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (max-width:515px){
    body{
        footer{
            .avatar{
                width: 55px;
                border-radius: 70%;
            }
            .redes-footer{
                a{
                    width: 20px;
                    height: 20px;
                    img{
                        width: 20px;
                    }
                }
                .mapa{
                    width: 200px;
                    height: 70px;
                }
            }
            div{
                p{
                    font-size: 10px;
                }
            }
        }
    }
}
